/**************GOOGLE FONTS*****************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
}

/* *******************************************
****** PROJECT STYLES
******************************************* */



/* ********************************************
****** MAIN STYLES
******************************************** */

/* * {
  border: solid 1px black;
  
} */

/**************Head***************/

/* .nav {
  font-size: 30px;
  margin: auto;
  width: 100%;
  height: 60px;
}

#nav-one {

} */

.navbar navbar-expand-lg navbar-light bg-light {
}

/************** Main *************/

h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #36454F;
  display: block;  
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  color: white;
  display: block;
  height: 500px;
  box-sizing: border-box;
}

.par {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 500px;
  box-sizing: border-box;
}

.container-layout {
  display: block;
  text-align: center;
}

/* .container-one header {
  display: grid;
} */

/* .container {
  background-color: #9FE2BF;
  width: 100%;
  
} */

main {
  background-color: #9FE2BF
}

/**************Footer*************/

.footer-one {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #36454F;
  margin: auto;
  width: 100%;
  height: 50px;
}

#footer {

}

/************CONTACT CARD************/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/************GRID*******************/

.head-one {
  grid-area: header;
}

.nav-one {
  grid-area: nav;
}

.article-one {
  grid-area: content;
}

/* .aside-one {
  grid-area: sidebar;
}

.ad-one {
  grid-area: ad;
} */

.footer-one {
  grid-area: footer;
}

/* @media (min-width: 500px) {
.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content"
    /* "sidebar"
    "ad" */
    /* "footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  } */


/****************PORTFOLIO CARDS**************/

#port-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/***************MOBILE*********************/

/* @media only screen and (min-width: 320px){
  h1 {

  }

  h2 {
    display: grid;
  }

  .par {

  }
} */

/***************DESKTOP********************/

/* @media screen and (max-width: 1024px) {
  
} */