/**************GOOGLE FONTS*****************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

html {
  scroll-behavior: smooth;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
}

/* *******************************************
****** PROJECT STYLES
******************************************* */



/* ********************************************
****** MAIN STYLES
******************************************** */

/* * {
  border: solid 1px black;
  
} */

/**************Head***************/

/************** Main *************/

h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #547992;
  display: block;  
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  color: white;
  display: block;
  height: 200px;
  box-sizing: border-box;
  padding: 50px 0;
  margin: auto;
}

.par {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  margin: auto;
  height: 400px;
  box-sizing: border-box;
}

#p1 {
  height: 200px;
  padding: 50px;
}

#p2 {
  height: 350px;
  padding: 50px;
}

#p3{
  height: 350px;
  padding: 60px;
}

.container {
  align-content: flex-end;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}

#container-one {
  margin: 50px auto;
}

#container-two {
  margin: 50px auto;
}

.container-layout {
  display: block;
  text-align: center;
}

main {
  background-color: #756c7375
}

/**************NAV****************/

.navbar-brand {
  font-size: 30px;
}

a:visited.navbar-brand {
  color: gray;
}

.container-fluid {
  background-color: #f2f2f2;
}

/**************Footer*************/

#footer {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #547992;
  margin: auto;
  width: 100%;
  height: 50px;
}

#foot-link {
  padding: 10px;
  display: inline-flex
  /* justify-content: flex-end;
  margin-right: auto;
  flex-direction: row; */
}

#foot-git {
display: inline-flex;
}



/**************ICONS**************/

.bi bi-linkedin {
  color: red;
}



/************CONTACT CARD************/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #756c7375;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

#container-four {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#p4 {
  height: 80px;
  padding: 20px;
}

/************GRID*******************/

.wrapper {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3);
  /* grid-gap: 1em; */
}

.nav-one {
  grid-row: 1;
  grid-column: 1 / 3;
}

.head-one {
  grid-row: 1;
  grid-column:  1 / 3;
}

.article-one {
  grid-row: 2;
  grid-column: 1 / 3;
}

.footer-one {
  grid-row: 3;
  grid-column: 1 / 3;
}

/****************PORTFOLIO CARDS**************/

#port-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 10px 0;
}

.title-card {
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif
}

.body-card {
  background-color: #f2f2f2;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 0 0 20px 0;
  font-size: 20px;
  background-color: #f2f2f2;
  color: gray;
  display: flex;
  justify-content: center;
}

a:hover.button {
  color: black;
}

a:link.button {
  text-decoration: none;
}

.contact-card {
  width: 50%;
}
/***************MOBILE*********************/

@media (min-width: 320px) and (max-width: 500px) {
  
  h1 {
    font-size: 40px;
  }
  
  .par {
    font-size: 20px;
  }

  #footer {
    font-size: 15px;
  }

  .card {
    width: 100%;
  }

  .contact-card {
    width: 100%;
  }


}

/***************TABLET**********************/

@media (min-width: 500px) and (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  .par {
    font-size: 30px;
  }

  #footer {
    font-size: 15px;
  }

  #p1 {
    padding: 40px;
  }

  #p2 {
    padding: 30px;
  }
}
/***************DESKTOP********************/

@media (min-width: 600px) and (max-width: 1024px) {
  
  #container-one {
    height: 300px;
  }

  #container-two {
    height: 500px;
  }

  #container-three {
    height: 450px;
  }

  #p4 {
    padding: 10px;
  }
  
  
  
  
  
  .contact-card {
    width: 50%;
  }
}