/**************GOOGLE FONTS*****************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */
  --title: serif;
  --text: aerial;
}

html {
  scroll-behavior: smooth;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

body {
  font-family: var(--text);
}

/* *******************************************
****** PROJECT STYLES
******************************************* */



/* ********************************************
****** MAIN STYLES
******************************************** */

/* * {
  border: solid 1px black;
  
} */

/**************Head***************/

/* .nav {
  font-size: 30px;
  margin: auto;
  width: 100%;
  height: 60px;
}

#nav-one {

} */

.navbar navbar-expand-lg navbar-light bg-light {
}

/************** Main *************/

h1 {
  text-align: center;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #547992;
  display: block;  
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  color: white;
  display: block;
  height: 200px;
  box-sizing: border-box;
  padding: 50px 0;
  margin: auto;
}

.par {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  margin: auto;
  height: 400px;
  box-sizing: border-box;
}

#p1 {
  height: 200px;
  padding: 25px;
}

#p2 {
  height: 350px;
  padding: 10px;
}

.container {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
}

.container-layout {
  display: block;
  text-align: center;
}

/* .container-one header {
  display: grid;
} */

/* .container {
  background-color: #9FE2BF;
  width: 100%;
  
} */

main {
  background-color: #756c7375
}

/**************NAV****************/

/* .flex.navbar-nav {
  justify-content: flex-end;
} */



/**************Footer*************/

#footer {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: #547992;
  margin: auto;
  padding: 15px;
  width: 100%;
  height: 50px;
}

#foot-social {
  color: black;
  padding: 10px;
}

/**************ICONS**************/

.bi bi-linkedin {
  color: red;
}

/************CONTACT CARD************/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#container-four {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#p4 {
  height: 80px;
}

/************GRID*******************/

.head-one {
  grid-area: header;
}

.nav-one {
  grid-area: nav;
}

.article-one {
  grid-area: content;
}

/* .aside-one {
  grid-area: sidebar;
}

.ad-one {
  grid-area: ad;
} */

.footer-one {
  grid-area: footer;
}

/* @media (min-width: 500px) {
.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content"
    /* "sidebar"
    "ad" */
    /* "footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  } */


/****************PORTFOLIO CARDS**************/

#port-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title-card {
  text-align: center;
  font-family: "Roboto", sans-serif
}

.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 2px 8px;
  background-color: black;
  color: white;
}

.contact-card {
  width: 50%;
}
/***************MOBILE*********************/

@media (min-width: 320px) and (max-width: 480px) {
  
  h1 {
    font-size: 40px;
  }
  
  .par {
    font-size: 20px;
  }

  #footer {
    font-size: 15px;
  }

  .contact-card {
    width: 100%;
  }
}

/***************TABLET**********************/

@media (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  .par {
    font-size: 30px;
  }

  #footer {
    font-size: 15px;
  }

  .contact-card {
    width: 100%;
  }
}

/***************DESKTOP********************/

@media (min-width: 600px) and (max-width: 1024px) {
  .contact-card {
    width: 50%;
  }
}